body{

    background-image: url("../background/fundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
    color: yellowgreen;
    text-shadow: 1px 1px black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;

}

a{

    text-decoration: none;
    color: yellowgreen;
    text-shadow: 1px 1px black;

}

.Titulo{

    margin-top: 1%;

}

.Tabela{

    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;

}

.blink_me {

    animation: blinker 1.5s linear infinite;
    color: white;

}
  
@keyframes blinker {

    75% {

      opacity: 0.25;

    }

}