<!DOCTYPE html>

  <html lang="pt-br">

    <head>

      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/estiloPaginaManutencao.css">
      <link rel="icon" type="imagem/png" href="icone/manutencao.ico" />
      <title>Pagina em manutencao</title>

    </head>

    <body>

        <div class="context">

          <img src="imagem/404.png" alt="" srcset="">
          <h1>Pagina em manutenção</h1>
          <h2>Aguarde alguns instantes</h2>

        </div>


        <div class="area">

          <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

          </ul>

        </div>

    </body>

  </html>